figure {
  margin: 0;
}
.content {
  position: relative;
  z-index: 2;
}
.content h2 {
  font-size: 20px;
  opacity: 0.9;
}
.content p {
  opacity: 0.7;
  font-size: 13px;
  font-weight: 500;
}
